@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}


/*
 * Base structure
 */
html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  color: #ded7cd;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#container {
  width: 100%;
  height: 80%;
  /* display: flex;
  flex-direction: column; */
  margin: 8rem;
  border: solid 1px #ded7cd;
  border-radius: 20px;
  /* background-color: #ded7cd; */
  background: no-repeat center center  url("../img/zaia_landing_bg.jpg");
  /* filter: grayscale(60%); */
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 1rem;
  filter: saturate(60%);
}

#text-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  /* gap: 90px; */
  gap: 15px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.title {
  font-size: 6rem;
  font-weight: 300;
  /* color: #A19889; */
  color: #fff;
  line-height: 0.8;
}

.zaia-img {
  height: 30px;
  width: 30px;
  opacity: 50%;
}

.subtitle {
  font-size: 1.7rem;
  font-weight: 100;
  /* color: #A19889; */
  color: #fff;

}

.soon {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1;
  /* background-color: #fafaf95d; */
  border: solid 1px #fafaf95d;
  border-radius: 0px;
  padding: 7px 60px 7px;
  color: #fff;
  opacity: 60%;
}

#login-video {
  object-fit: cover;
  width: 100vw;
  height: 110%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#social-group {
  position: absolute;
  top: 12px;
  right: 12px;
}

.social {
  color: #fafaf95d;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 5rem;
    line-height: 0.9;
  }

  .subtitle {
    font-size: 1.4rem;
  }

  .soon {
    font-size: 1rem;
    padding: 7px 35px 7px;
  }

  .zaia-img {
    height: 20px;
    width: 20px;
  }

  #text-wrapper {
    gap: 40px;
  }

  #container {

    margin: 2rem;
  }
}
